<html lang = 'en'>
    <head>
        <link rel = 'stylesheet' href = 'index.css'>
    </head>
    <body>
        <h2>Engineers</h2>
        <div id="engineerContainer">

            <% for(let i = 0; i < engineers.length; i++){ %>
                <div class="card">
                    <h1><%= engineers[i].name %></h1>
                    <p><%= engineers[i].id %></p>
                    <p><%= engineers[i].email %></p>
                    <p><%= engineers[i].github %></p>
                </div>
          <%  } %>
            
        </div>
        <h2>Interns</h2>
        <div id="internContainer">
            <%- engineers, interns, manager %>
        </div>
    </body>
</html>